.home{
   background-color: #ffccff;
}
.header, h1{
  padding:30px;
  font-size:50px;
  color:#ff0066;
  font-style: oblique;
  text-align:center;
}
a{
  background-color: #f2dede;
}

p{
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
}
.me {
  
  width:200px;
  height:200px;
  border-style: solid;
  border-color: gray;
  border-radius:70%;
}
.displayed {
  margin-left: 130px;
  margin-butom: 0px;
}
.portfolio{
  padding: 0px 100px 100px 0px;
  background-color: #ffccff;
  
}
.contact-form{
  padding-left: 180px;
  padding-top:30px;
}
.contact{
  background-color:#e6e6e6;
}
.social{
  padding: 20px 0px 100px 200px;
}

